@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: Poppins;
    background: linear-gradient(134.38deg, rgb(152, 77, 56) -29.747%,rgb(24, 30, 65) 57.502%) no-repeat;
    color: var(--white);
}
:root {
    --white:  #fff ;
    --gray: rgba(255, 255, 255, 0.5);
}
a, button {
    cursor: pointer;
}
.h2-text {

    font-size: clamp(1.125rem, 0.7rem + 2vw, 2.5rem);
    font-weight: 700;
    line-height: 180%;
}

.container {
    max-width: 1196px;
    width: 100%;
    margin-inline:  auto;

    padding-inline: 20px;
    box-sizing: border-box;
}
.header .container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}
.search {
    position: relative;
    font-family:  'Poppins', sans-serif;
}
.search-button {
    display: block;
    background-image: url(../img/search.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;

    position: absolute;
    top: calc(50% - 10px);
    left: 10px;
}
.search-input {
    width: 384px;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 10px;
    padding: 13px 13px 13px 40px;
    font-family: Poppins;
    color: var(--white);
}
.search-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}
.search-input:focus {
    outline: none;
}
.header-nav {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    align-items: center;

    color: var(--white);
}
.nav-link {
    font-size: clamp(0.325rem, 0.432rem + 0.91vw, 1.25rem);
    font-weight: 500;
    line-height: 30px;
}
.button {
    padding: 10px 20px;
    border-radius: 10px;
    background: linear-gradient(213.82deg, rgb(183, 92, 255) 13.314%,rgb(103, 26, 228) 84.467%);
    color: var(--white);
    border: none;

    font-size: clamp(0.625rem, 0.432rem + 0.91vw, 1.25rem);
    font-weight: 500;
    line-height: 30px;
}
.header-buttons-mobile {
    display: none;
}
.button-transparent {
    background: rgba(255, 255, 255, 0.1);
}
.hero-buttons {
    display: flex;
    gap: 20px;

    margin-bottom: 40px;
}
.hero-section {
    margin-top: 5.208vw;
}
.hero-section .container {
    display: flex;
    column-gap: 116px;
    align-items: center ;
}

.hero-text {
    max-width: 490px;
}
.hero-title {
    color: var(--white);

    font-size: clamp(1.5rem, 0.998rem + 2.36vw, 3.125rem);
    font-weight: 700;
    line-height: 120%;

    margin-bottom: 10px;
}

.hero-desc {
    color: var(--gray);
    font-size: clamp(0.625rem, 0.432rem + 0.91vw, 1.25rem);
    font-weight: 500;
    line-height: 180%;

    margin-bottom: 30px;
}
.hero-image {
    box-sizing: border-box;
}
.hero-picture {
    max-width: 100%;
    width: 591px;
    height: 517px;
}
.stats {
    display: flex;
    gap: 5.781vw;
}
.statistic-value {
    color: var(--white);

    font-size: clamp(0.875rem, 0.566rem + 1.45vw, 1.875rem);
    font-weight: 700;
}
.statistic-desc {
    color: var(--gray);
    font-size: clamp(0.625rem, 0.432rem + 0.91vw, 1.25rem);
    font-weight: 500;
}

.partners-section {
    margin-top: 10.417vw;
}
.partners-section .container {
    display: flex;
    justify-content: space-between;
}
.atworks {
    text-align: center;
    margin-inline: 0;
    margin-top: 42px;
}
.atworks .statistic-desc {
    max-width: 423px;
    margin-inline: auto;
}
.card {
    padding: 26px;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
.cards {
    display: flex;
    gap: 15px;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.atworks .container {
    max-width: 1238px;
}
.card-image {
    margin-bottom: 20px;
    border-radius: 10px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    max-width: 337px;
    margin-inline: auto;
}
.author-and-title {
    text-align: left;
}
.card-name {
    margin-top: 23px;

    color: var(--white);

    font-size: clamp(1.125rem, 1.089rem + 0.18vw, 1.25rem);
    font-weight: 700;

}
.third-card {
    background-color: rgba(255, 255, 255, 0.5);
}
.bid {
    color: var(--gray);

    font-size: clamp(0.75rem, 0.692rem + 0.27vw, 0.938rem);
    font-weight: 500;
}
.price {
    color: var(--white);
    margin-top: 15px;
}
.card-button {
    width: 337px;
    margin-top: 22px;
}



.questions {
    text-align: center;
    margin-top: 8.75vw;
    margin-bottom: 3.125vw;
}
.questions-content {
    background: linear-gradient(213.82deg, rgb(183, 92, 255) 13.564%,rgb(103, 26, 228) 84.175%);
    padding: 50px 0;
    border-radius: 10px;
}
.buy-title {
    margin-bottom: 20px;
    max-width: 498px;
    margin-inline: auto;
    padding-inline: 20px;
}



@media  screen and (max-width: 1238px) {
    .cards {
        justify-content: center;
    }
    .card-info {
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    .card-button {
        width: 100%;
    }
    .author-and-title {
        text-align: center;
        margin-bottom: 20px;
    }
}


@media  screen and (max-width: 1060px) {
    .search-input {
        font-size: 14px;
        width: 280px;
    }
    .header-nav {
        column-gap: 20px;
    }
}

@media  screen and (max-width: 950px) {
    .partners-section .container {
        column-gap: 60px;
    }
    .container {
        max-width: 900px;
    }
    .hero-image {
        position:  absolute;
        top: 10%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        max-width: 90%;
        width: 100%;
        opacity: 0.05;
        z-index: -1; 
    }
    .hero-image {
        display: none;
    }
    .card-image {
        width: 200px;
    }
}
@media  screen and (max-width: 830px) {
    .cards {
        justify-content: space-evenly;
    }
    .card-image {
        width: 160px;
    }
    .card {
        padding: 13px;
    }
    .container {
        max-width: 780px;
    }
    .header-buttons-mobile {
        display: flex;
        gap: 22px;
    }
    .search, .header-nav {
        display: none;
    }
    .header-search, .header-burger {
        background: transparent;
        border: none;
        display: block;

        height: 20px;
    }
    .header-search {
        background-image: url(../img/search-mobile.svg);
        width: 20px;
    }
    .header-burger {
        background-image: url(../img/burger.svg);
        width: 27px;
    }
    .partner-img {
        height: 4vw;
    }
    .partners-section {
        margin-top: 7.813vw;;
    }
    .button {
        padding: 5px 10px;
    }
}
@media  screen and (max-width: 630px) {
    .card-image {
        width: 120px;
    }
    .card-name, .price {
        margin-top: 12px;
    }
}
@media  screen and (max-width: 590px) {
    .card-image {
        width: 337px;
        padding: 26px;
    }
    .card-info {
        flex-direction: row;
    }
    .author-and-title {
        text-align: left;
    }
    .card-button {
        width: 337px;
    }
}
@media  screen and (max-width: 455px) {
    .questions-content {
        padding: 10px 0;
    }
    .hero-section {
        margin-top: 30px;
    }
    .hero-desc {
        margin-bottom: 15px;
    }
    .hero-buttons {
        margin-bottom: 20px;
    }
    .partners-section {
        margin-top: 40px;
    }
    .atworks {
        margin-top: 40px;
    }
    .cards {
        margin-top: 20px;
    }
    .card-image {
        width: 250px;
        padding: 10px;
    }
    .card-info {
        flex-direction: column;
    }
    .author-and-title {
        text-align: center;
    }
    .card-button {
        width: 250px;
    }
}


